.title{
    text-align: center;
}

.category{
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    height: 300px;
    text-align: center;    
}

#respostas{
    display: flex;
    justify-content: center;
}


